# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# IDE / Editors
# =========================
.idea/
.vscode/
*.swp
*.swo

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Database files (if local)
# =========================
*.db
*.sqlite3

docs
db